# Web framework
fastapi
uvicorn[standard]
python-multipart

# Pydantic
pydantic[email]
pydantic-settings

# Database
sqlalchemy
psycopg2-binary
alembic

# LLM
google-generativeai
grpcio==1.60.0
grpcio-status==1.60.0
tenacity

# PDF
pypdf

# Auth
pwdlib[argon2]
pyjwt
authlib
cryptography==42.0.5
itsdangerous
httpx

# Misc
python-dotenv